.auth_container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.auth {
  .yB_BoxShadow_Transition;
  width: 75%;
  background-color: @bgColor;
  padding: 1.5rem;
  border: solid;
  border-color: @oliveGreen;
  margin: 1rem;
}

.auth:hover {
  transform: translateY(-1rem);
  .yB_BoxShadow_Hover;
}

.auth > h1 {
  display: flex;
  align-items: center;
}

.auth_icon {
  width: 3rem;
}

.auth > input {
  border: solid 0.1rem @metallicGold;
  border-radius: 0.5rem;
  margin: 0.2rem;
}

.auth > input:focus {
  outline: solid 0.1rem @metallicGold;
}

.auth > button {
  .smallYellowButton;
  margin: 0.1rem;
}

.auth > button:hover {
  .smallYellowButtonHover;
}

.auth_redirect > p {
  margin-top: 2rem;
}

.auth_redirect > a {
  .underlineOliveLink;
}

.auth_redirect > a:hover {
  .underlineOliveLinkHover;
}
