//BUTTONS

.smallYellowButton {
  background-color: @metallicGold;
  color: @bgColor;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}

.smallYellowButtonHover {
  background-color: @darkGoldenrod;
  transition: ease 0.5s;
}

//LINKS

.underlineOliveLink {
  font-weight: 500;
  color: @oliveGreen;
  transition: ease 0.3s;
}

.underlineOliveLinkHover {
  color: @oliveGreen;
  font-weight: 800;
  transition: ease 0.3s;
}
