@import "vars";

.container{
    display: flex;
    background-color: @bgColor;
}

.order-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    float: right;
}

.orderTitle{
    color: @fontColor
}

.orderButton{
    width: 8rem;
    height: 2rem;
    background-color: @metallicGold;
    border-radius: 2rem;
}

.cardContainer{
    justify-content: baseline;
    padding: 1rem;
}

.card{
    display: flex;
    width: 70rem;
    height: 20rem;   
    align-items: center;
    background-color: @bgColor;
    border-style: solid;
    border-width: 2px;
    border-color: @oliveGreen;
    box-shadow: 10px 10px @metallicGold;
}

.activeButtons{
    display: flex;
    justify-content: baseline;
}

.infocard{
    display: flex;
    float: right;
    color: @fontColor;
}

.eventTitle{
    // float: right;
    // padding-left: 40px;
    color: @fontColor;
    text-align: justify;
}

.details{
    // flex-direction: row;
    color: @fontColor;
    text-align: justify;

}

.description{
    display: -webkit-box;
    padding-top: 3rem;
    padding-right: 2rem;
    text-align: justify;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: @fontColor;
}


.imageCard{
    display:  flex;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.image{
    width: 18rem;
    height: 18rem;
    border-style: solid;
    border-color: @oliveGreen;
    border-radius: 2px;;
    object-fit: cover;
}

