.editAccount_container {
  .yG_Borders;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 1rem;
}

.editAccount_container > a {
  .underlineOliveLink;
}

.editAccount_container > a:hover {
  .underlineOliveLinkHover;
}
