#container{
    padding: 2rem;
}

.faqImg{
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border-color: @independenceBlue;
    border-style: solid;
    border-width: .5rem;
    width: 35rem;
    height: 55rem;
    float: right;
}

.faqCard{
    float: left;
    margin-bottom: 1rem;
}

.faqBox{
    padding-left: 1rem;
    width: 50rem;
}