#container{
    padding: 2rem;
}

// .faqImageDiv{
//     max-width: 35rem;
//     max-height: 55rem;
// }

.faqImg{
    display: flex;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border-style: solid;
    border-width: .5rem;
    border-color: @independenceBlue;    
    width: 35rem;
    height: 55rem;
    float: right;
}


.faqCard{
    float: left;
    margin-bottom: 1rem;
}

.faqBox{
    padding-left: 1rem;
    width: 50rem;
    text-align: justify;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
 #container{
    padding: 1rem;
 }

 
    .faqImg {
    // padding: 1rem;
    // height: 15rem;
    // width: 10rem;
    // border-style: solid;
    // border-width: .5rem;
    // margin-bottom: 3rem;
    border: 0px;
    height: 0px;
    width: 0px;
 }
 
 .faqCard{
    width: 10rem;
 }

 .faqBox{
    width: 25rem;  
 }


}