.footerContainer {
  display: flex;
  bottom: 0;
  width: 100%;
  color: @lightYellow;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 1rem 1rem 0 0;
  background-color: @independenceBlue;
}

.footerName {
  float: left;
  padding: 1rem;
}

.footerTitle {
  align-self: center;
  padding-right: 3rem;
  align-content: baseline;
  padding-top: 1rem;
}

.footerPerson {
  color: @lightYellow;
}

.footerInfoBlock {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-around;
}

.footerPersonBlock {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.footerLink {
  padding: 5px;
  color: black;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerInfoBlock {
    justify-content: center;
    align-items: center;
  }

  .footerPersonBlock {
    flex-direction: column;
    align-items: center;
  }
}
