.navbar {
  display: flex;
  align-items: center;
  background-color: @independenceBlue;
  border-radius: 0 0 1rem 1rem;
  color: @metallicGold;
  padding: 0.7rem;
}

.navbar_name {
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem;
  width: 20%;
}

.navbar_name > img {
  width: 1.3rem;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: 1rem;
}

.navbar_links > div > a {
  text-decoration: none;
  color: @metallicGold;
  padding: 1rem;
}
