.popup-content {
  display: flex;
  justify-content: center;
}
.popup-overlay {
  background: rgba(14, 28, 55, 0.5);
}
.popup {
  background-color: #fffef9;
  color: black;
  width: 75%;
  border-style: solid;
  border-color: #bca32d;
  box-shadow: 0.7rem 0.7rem #4c5e7d;
  padding: 1rem;
}
.popup_header {
  display: flex;
  justify-content: space-between;
}
.popup_header > button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: #bca32d;
  color: #fffef9;
}
.smallYellowButton {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}
.smallYellowButtonHover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.underlineOliveLink {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
}
.underlineOliveLinkHover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
}
.roundYellowInput {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
}
.roundYellowInput_focus {
  outline: solid 0.1rem #bca32d;
}
.yG_Borders {
  border: solid 0.5rem #bca32d;
  outline: solid 0.5rem #666d24;
}
.yB_BoxShadow {
  box-shadow: 0.7rem 0.7rem #bca32d, 1.4rem 1.4rem #4c5e7d;
}
.yB_BoxShadow_Transition {
  box-shadow: 0.7rem 0.7rem #bca32d, 1.4rem 1.4rem #4c5e7d;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.yB_BoxShadow_Hover {
  box-shadow: 0.9rem 0.9rem #bca32d, 1.6rem 1.6rem #4c5e7d;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.yG_TextShadow_Heading {
  text-align: center;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem #bca32d;
}
.yG_TextShadow_Regular {
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-shadow: 0.07rem 0.07rem #bca32d;
}
* {
  font-family: "Gothic A1", sans-serif;
}
body {
  margin: 0;
  background-color: #fffef9;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #4c5e7d;
  border-radius: 0 0 1rem 1rem;
  color: #bca32d;
  padding: 0.7rem;
}
.navbar_name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0.5rem;
  min-width: 20%;
}
.navbar_name > img {
  width: 1.3rem;
}
.navbar_links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: 1rem;
}
.navbar_links > div > a {
  text-decoration: none;
  font-weight: 600;
  color: #bca32d;
  padding: 1rem;
  transition: 0.3s;
}
.navbar_links > div > a:hover {
  text-shadow: 0 0 15px #dbc96b;
  transition: 0.3s;
}
.navbar_org {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #bca32d;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
  padding: 0 1rem 0 1rem;
}
.navbar_org:hover {
  text-shadow: 0 0 15px #dbc96b;
  transition: 0.3s;
}
.navbar_org_menu > a {
  text-decoration: none;
  font-weight: 700;
  color: #666d24;
}
.navbar_signout {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}
.navbar_signout:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
@media only screen and (min-width: 0px) and (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }
  .navbar_links {
    flex-direction: column;
    align-items: center;
  }
}
.auth_container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.auth {
  box-shadow: 0.7rem 0.7rem #bca32d, 1.4rem 1.4rem #4c5e7d;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  width: 75%;
  background-color: #fffef9;
  padding: 1.5rem;
  border: solid;
  border-color: #666d24;
  margin: 1rem;
}
.auth:hover {
  transform: translateY(-1rem);
  box-shadow: 0.9rem 0.9rem #bca32d, 1.6rem 1.6rem #4c5e7d;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.auth > h1 {
  display: flex;
  align-items: center;
}
.auth_icon {
  width: 3rem;
}
.auth > input {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
  margin: 0.2rem;
}
.auth > input:focus {
  outline: solid 0.1rem #bca32d;
}
.auth > button {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
  margin: 0.1rem;
}
.auth > button:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.auth_redirect > p {
  margin-top: 2rem;
}
.auth_redirect > a {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
}
.auth_redirect > a:hover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
}
.account_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
}
.account_container > h1 {
  text-align: center;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem #bca32d;
}
.account_info {
  border: solid 0.5rem #bca32d;
  outline: solid 0.5rem #666d24;
  display: flex;
  width: 80%;
}
.account_img > img {
  border: dashed 0.5rem #666d24;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
  padding: 1rem;
  margin: 1.5rem;
}
.account_text {
  width: 70%;
  margin: 2rem;
}
.account_text > p > span,
.account_org > p > span {
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-shadow: 0.07rem 0.07rem #bca32d;
  margin-right: 0.5rem;
}
.account_org {
  margin-top: 2.5rem;
}
.account_org > a,
.account_org > p > a {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
}
.account_org > a:hover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
}
.account_links {
  width: 30%;
  text-align: end;
  margin: 1rem;
}
.account_links > a {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
}
.account_links > a:hover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
}
.account_links > p {
  font-style: italic;
  margin-top: 2rem;
}
.editAccount_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.editAccount {
  border: solid 0.5rem #bca32d;
  outline: solid 0.5rem #666d24;
  width: 75%;
  padding: 1rem;
}
.editAccount_container > h1 {
  text-align: center;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem #bca32d;
}
.editAccount > h2,
.editAccount > h3 {
  text-align: center;
}
.editAccount > h2 > a {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
  text-align: center;
  font-size: 1.2rem;
}
.editAccount > h2 > a:hover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
  text-align: center;
}
.editAccount > h3 > a {
  font-weight: 500;
  color: #666d24;
  transition: ease 0.3s;
}
.editAccount > h3 > a:hover {
  color: #666d24;
  font-weight: 800;
  transition: ease 0.3s;
}
.editAccount_info {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.editAccount_avatar {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.editAccount_img > img {
  border: dashed 0.5rem #666d24;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}
.editAccount_avatar > label {
  margin-top: 1rem;
  font-style: italic;
}
.editAccount_avatar > input::file-selector-button {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}
.editAccount_avatar > input::file-selector-button:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.editAccount_profile {
  margin: 1rem;
}
.editAccount_bio {
  margin-bottom: 1rem;
}
.editAccount_bio > div > span {
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-shadow: 0.07rem 0.07rem #bca32d;
}
.editAccount_bio > div > input {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
}
.editAccount_profile > div > button {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}
.editAccount_profile > div > button:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.createOrgPopup {
  background-color: #fffef9;
  color: black;
  width: 75%;
  border-style: solid;
  border-color: #bca32d;
  box-shadow: 0.7rem 0.7rem #4c5e7d;
  padding: 1rem;
  height: 90vh;
  overflow: scroll;
}
.createOrgPopup_header {
  display: flex;
  justify-content: space-between;
}
.createOrgPopup_header > h1 {
  width: 100%;
  margin-left: 1.7rem;
  text-align: center;
}
.createOrgPopup_header > button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: #bca32d;
  color: #fffef9;
}
.createOrgPopup > p {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -0.5rem;
}
.createOrgPopup_form {
  display: flex;
  flex-direction: column;
}
.createOrgPopup_form > label {
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-shadow: 0.07rem 0.07rem #bca32d;
  margin-bottom: 0.5rem;
}
.createOrgPopup_form > input {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.createOrgPopup_form > input:focus {
  outline: solid 0.1rem #bca32d;
}
.createOrgPopup_form > textarea {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.createOrgPopup_form > textarea:focus {
  outline: solid 0.1rem #bca32d;
}
.createOrgPopup_form > button {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
}
.createOrgPopup_form > button:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.org_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.org_avatar_img > img {
  border: dashed 0.5rem #666d24;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}
.org_avatar > label {
  margin-top: 1rem;
  font-style: italic;
}
.org_avatar > input::file-selector-button {
  cursor: pointer;
  background-color: #bca32d;
  color: #fffef9;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  transition: ease 0.5s;
  margin-left: 2.5rem;
}
.org_avatar > input::file-selector-button:hover {
  background-color: #ac8c26;
  transition: ease 0.5s;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
#full_calendar {
  margin: 2rem;
}
.container {
  display: flex;
  background-color: #fffef9;
}
.order-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  float: right;
}
.orderTitle {
  color: black;
}
.orderButton {
  width: 8rem;
  height: 2rem;
  background-color: #bca32d;
  border-radius: 2rem;
}
.cardContainer {
  justify-content: baseline;
  padding: 1rem;
}
.card {
  display: flex;
  width: 70rem;
  height: 20rem;
  align-items: center;
  background-color: #fffef9;
  border-style: solid;
  border-width: 2px;
  border-color: #666d24;
  box-shadow: 10px 10px #bca32d;
}
.infocard {
  display: flex;
  float: right;
  color: black;
  padding-right: 1rem;
}
.eventTitle {
  color: black;
  text-align: justify;
}
.details {
  color: black;
  text-align: justify;
}
.description {
  text-align: justify;
  width: 65rem;
  color: black;
}
.imageCard {
  display: flex;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.image {
  width: 18rem;
  height: 18rem;
  border-style: solid;
  border-color: #666d24;
  border-radius: 2px;
  object-fit: cover;
}
.single-page {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}
.single-page a {
  color: #666d24;
  font-weight: 800;
}
.single-container {
  width: 75vw;
  border-bottom: 0.6rem solid #bca32d;
  border-right: 0.6rem solid #bca32d;
  box-shadow: 1rem 1rem 0rem -0.6rem #4c5e7d;
}
.single-org-container {
  width: 75vw;
  border: 0.5rem solid #4b5c4f;
  padding: 2rem 3rem 1rem 3rem;
}
.single-header {
  display: flex;
  justify-content: space-between;
}
.single-buttons {
  max-width: 25%;
  margin-right: 1rem;
}
.single-header-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-header-left > * {
  margin: 0rem;
}
.single-header-left > h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.single-info {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.single-info > img {
  box-shadow: 1rem 1rem 0rem -0.5rem #4c5e7d;
  width: 29rem;
  height: 29rem;
  object-fit: cover;
}
.single-org-img {
  box-shadow: 1rem 1rem 0rem -0.5rem #bca32d;
}
.single-details {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0rem 1.5rem;
  justify-content: space-between;
}
.single-details-top > * {
  margin-bottom: 1rem;
  font-weight: 600;
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .single-container {
    width: 90vw;
  }
  .single-info {
    flex-wrap: wrap;
  }
}
.event-carousel-header {
  font-weight: 600;
}
.event-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-left: 0.2rem solid #4b5c4f;
  border-right: 0.2rem solid #4b5c4f;
  margin-top: 3rem;
  min-width: 35rem;
}
.event-carousel-slider {
  text-align: center;
  width: 25rem;
}
.event-carousel-img {
  min-width: 15rem;
  max-height: 15rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.interactive-popup-overlay {
  background: rgba(14, 28, 55, 0.5);
}
.interactive-popup {
  display: flex;
  flex-direction: column;
  background-color: #fffef9;
  color: black;
  width: 25rem;
  min-height: 14rem;
  border-style: solid;
  border-color: #bca32d;
  box-shadow: 10px 10px #4c5e7d;
  padding: 1rem;
}
.interactive-popup_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #bca32d;
}
.interactive-popup_header * {
  margin: 0.5rem;
}
.interactive-popup_actions {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.interactive-popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.interactive-popup_header > button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: #bca32d;
  color: #fffef9;
}
.review-text-field {
  margin-top: 0.5rem;
}
.reviews-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 95vw;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: space-around;
  row-gap: 2rem;
}
.reviews-header {
  display: flex;
  align-items: baseline;
  font-weight: 600;
  margin-bottom: 1rem;
}
.average-rating {
  top: 0.5rem;
  margin: 0rem 0rem 2rem 0.5rem;
}
.average-rating-container {
  margin-right: 3rem;
}
.review-text {
  margin-top: -1.2rem;
}
.review-card {
  width: 24rem;
  border-radius: 0;
  background-color: #fffef9;
}
