.popup-content {
  display: flex;
  justify-content: center;
}
.popup-overlay {
  background: rgba(14, 28, 55, 0.5);
}
.popup {
  background-color: #fffef9;
  color: black;
  width: 75%;
  border-style: solid;
  border-color: #bca32d;
  box-shadow: 10px 10px #4c5e7d;
  padding: 1rem;
}
.popup_header {
  display: flex;
  justify-content: space-between;
}
.popup_header > button {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 2px;
  background-color: #bca32d;
  color: #fffef9;
}
* {
  font-family: "Gothic A1", sans-serif;
}
body {
  background-color: #fffef9;
}
.auth_container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.auth {
  width: 75%;
  background-color: #fffef9;
  padding: 1.5rem;
  border: solid;
  border-color: #666d24;
  box-shadow: 0.7rem 0.7rem #bca32d, 1.4rem 1.4rem #4c5e7d;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  margin: 1rem;
}
.auth:hover {
  transform: translateY(-1rem);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  box-shadow: 0.9rem 0.9rem #bca32d, 1.6rem 1.6rem #4c5e7d;
}
.auth > h1 {
  display: flex;
  align-items: center;
}
.auth > input {
  border: solid 0.1rem #bca32d;
  border-radius: 0.5rem;
}
.auth_icon {
  width: 3rem;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
#full_calendar {
  margin: 2rem;
}
.save-event-modal {
  width: 40rem;
  text-align: center;
  padding: 5px;
  background: #c8c7c7;
}
.save-event-modal > .header {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.save-event-modal > .content {
  margin: 10px;
  line-height: 40px;
}
.save-event-modal > .actions {
  padding-bottom: 1rem;
  margin: auto;
  text-align: center;
}
.save-event-modal > .actions > button {
  border-style: solid;
  margin: 0px 1rem 0px 1rem;
}
.save-event-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border: 1px solid #cfcece;
}
.save-event-modal-overlay {
  background: rgba(14, 28, 55, 0.5);
}
.container {
  display: flex;
  background-color: #fffef9;
}
.order-buttons {
  float: right;
  flex-direction: row;
}
.card-container {
  padding: 20px;
}
.card {
  display: flex;
  width: 900px;
  height: 300px;
  padding: 20px;
  background-color: #fffef9;
  border-style: solid;
  border-width: 2px;
  border-color: #666d24;
  box-shadow: 10px 10px #bca32d;
}
.infocard {
  text-align: end;
  color: black;
  padding-left: 10px;
}
.eventTitle {
  float: right;
  padding-left: 40px;
  color: black;
}
.details {
  flex-direction: row;
  color: black;
}
.imageCard {
  float: left;
}
.image {
  width: 20rem;
  height: 20rem;
  border-style: solid;
  border-color: #666d24;
  border-radius: 2px;
  object-fit: cover;
}
.single-page {
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}
.single-page a {
  color: #666d24;
  font-weight: 800;
}
.single-container {
  width: 75vw;
  border-bottom: 0.6rem solid #bca32d;
  border-right: 0.6rem solid #bca32d;
  box-shadow: 1rem 1rem 0rem -0.6rem #4c5e7d;
}
.single-header {
  display: flex;
  justify-content: space-between;
}
.single-buttons {
  max-width: 25%;
  margin-right: 1rem;
}
.single-header-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-header-left > * {
  margin: 0rem;
}
.single-header-left > h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.single-info {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.single-info > img {
  box-shadow: 1rem 1rem 0rem -0.5rem #4c5e7d;
  width: 29rem;
  height: 29rem;
  object-fit: cover;
}
.single-details {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0rem 1.5rem;
  justify-content: space-between;
}
.single-details-top > * {
  margin-bottom: 1rem;
  font-weight: 600;
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .single-container {
    width: 90vw;
  }
  .single-info {
    flex-wrap: wrap;
  }
}
